<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
   <h1>TAs</h1>
   <% for (var i in teammembers) {%>
       <p>Name: <%=teammembers[i].name%>, UIN: <%=teammembers[i].uin%>, Role: <%=teammembers[i].role%><p>
   <% } %>
</body>